project:
  type: website
  output-dir: docs

website:
  title: "Imad Dabbura"
  google-analytics: "UA-127825273-1"
  open-graph: true
  site-url: "https://imaddabbura.github.io/"
  repo-url: "https://github.com/imaddabbura/imaddabbura.github.io"
  repo-actions: [issue]
  favicon: images/profile-pic.png
  page-navigation: true
  reader-mode: true
  page-footer:
    left: "Blog made with Quarto, by Imad Dabbura"
    right:
      - icon: linkedin
        href: https://www.linkedin.com/in/imaddabbura/
      - icon: envelope
        href: mailto:imad.dabbura@hotmail.com
      - icon: github
        href: https://github.com/imaddabbura
      - icon: twitter
        href: https://twitter.com/imadphd

  twitter-card:
    creator: "@imaddabbura"
    card-style: summary_large_image
  search:
    location: navbar
    type: overlay
    algolia:
      index-name: "Initial-Website-Search-Index"
      application-id: "PVDXB8B7OS"
      search-only-api-key: "eb3007c200831c30465f8a5172690cf0"
      show-logo: true
      analytics-events: true
  navbar:
    background: primary
    forground: primary
    logo: images/profile-pic.png
    left:
      - about.qmd
      - text: Posts
        file: index.qmd
      - text: "TIL"
        icon: lightbulb
        file: til.qmd
      - text: "Papers' Summaries"
        file: papers-summaries.qmd
      - text: "DL Tips & Tricks"
        file: dl-tips-tricks.qmd
      - text: Projects
        file: projects-index.qmd
      - text: More
        menu:
          - text: "Books' Summaries"
            file: books-summaries.qmd
          - text: "Misc. Notes"
            file: misc-notes.qmd
          - text: "Reading List"
            file: reading-list.qmd
          - text: Resume
            file: resume.qmd

    right:
      - icon: github
        href: https://github.com/imaddabbura
      - icon: twitter
        href: https://twitter.com/imadphd
editor-option:
  markdown:
    wrap: 72
format:
  html:
    include-after-body: _citation.html
    mermaid:
      theme: default
    code-overflow: wrap
    theme:
      light: yeti
      dark: darkly
    css: styles.css
comments:
  giscus:
    repo: imaddabbura/imaddabbura.github.io
